<launch>
    <arg name="model" default="3_degree_robot.xacro"/>

    <node pkg="lab_2" type="read_DH_table.py" name="dh_converter" output="screen">
        <param name="dh_table_path" value="$(find lab_2)/config/dh_table.csv"/>
    </node>

    <!--include file="$(find urdf_tutorial)/launch/display.launch">
        <arg name="model" default="$(find lab_2)/xacro/3_degree_robot.xacro"/>
    </include-->

</launch>