<launch>
	
    <!-- read DH table and open RVIZ with joint state publisher, and robot_state_publisher-->
    <include file="$(find lab_2)/launch/lab_2.launch" ns="/">
        <param name='model' value="3_degree_robot.xacro"/>
    </include>

    <node pkg="lab_3" type="kdl_dkin.py" name="kdl_dkin" output="screen">
        <remap from="head_pose" to="head_pose_kdl"/>
    </node>

    <node pkg="lab_3" type="non_kdl_dkin.py" name="non_kdl_dkin" output="screen">
        <remap from="head_pose" to="head_pose_non_kdl"/>
    </node>

</launch>