<launch>
    <arg name="rviz_config" default="$(find lab_4)/config/config.rviz" />
    <arg name="model" default="3_degree_robot.xacro"/>
    
    <!-- read DH parameters from lab_2/config/dh_table.csv and save them in lab_2/config/urdf_params.yaml-->
    <node pkg="lab_2" type="read_DH_table.py" name="dh_converter" output="screen">
        <param name="dh_table_path" value="$(find lab_2)/config/dh_table.csv"/>
    </node>
    
    <!-- open xacro model based on DH parameters-->
    <param name="robot_description" command="xacro '$(find lab_2)/xacro/$(arg model)'"/>

    <param name="use_gui" value="false"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">["interpolation"]</rosparam>
	</node> 
    
    <!-- publish TF data from joint_state topic-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- spawn rviz with required config -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="true"/>

</launch>