<?xml version="1.0"?>
<robot name="robot_from_DH_table" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="yaml_file" value="$(find lab_2)/config/test.yaml" />
    <xacro:property name="yaml_params" value="${load_yaml(yaml_file)}"/>

    <xacro:property name="roll1" value="${yaml_params['roll1']}" />
    <xacro:property name="roll2" value="${yaml_params['roll2']}" />
    <xacro:property name="roll3" value="${yaml_params['roll3']}" />
    <xacro:property name="pitch1" value="${yaml_params['pitch1']}" />
    <xacro:property name="pitch2" value="${yaml_params['pitch2']}" />
    <xacro:property name="pitch3" value="${yaml_params['pitch3']}" />
    <xacro:property name="yaw1" value="${yaml_params['yaw1']}" />
    <xacro:property name="yaw2" value="${yaml_params['yaw2']}" />
    <xacro:property name="yaw3" value="${yaml_params['yaw3']}" />
    <xacro:property name="x1" value="${yaml_params['x1']}" />
    <xacro:property name="x2" value="${yaml_params['x2']}" />
    <xacro:property name="x3" value="${yaml_params['x3']}" />
    <xacro:property name="y1" value="${yaml_params['y1']}" />
    <xacro:property name="y2" value="${yaml_params['y2']}" />
    <xacro:property name="y3" value="${yaml_params['y3']}" />
    <xacro:property name="z1" value="${yaml_params['z1']}" />
    <xacro:property name="z2" value="${yaml_params['z2']}" />
    <xacro:property name="z3" value="${yaml_params['z3']}" />

    <xacro:macro name="link_" params="name">
        <link name="${name}">
           <visual>
            <geometry>
              <cylinder radius="0.2" length="0.5"/>
            </geometry>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <material name="blue"/>
          </visual>
        </link>

    </xacro:macro>

    <xacro:macro name="joint_" params="parent child x y z roll pitch yaw">
        <joint name="${parent}_to_${child}" type="continuous">
            <parent link="${parent}"/>
            <child link="${child}"/>
            <axis xyz="0 0 1"/>
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
        </joint>

    </xacro:macro>

    <xacro:link_ name="base_link" />

    <xacro:link_ name="link_0" />

    <xacro:link_ name="link_1" />
    
    <xacro:joint_ parent="base_link" child="link_0" x="0" y="0" z="0" roll="0" pitch="0" yaw="0" />


    <xacro:joint_ parent="link_0" child="link_1" x="${x1}" y="${y1}" z="${z1}" roll="${roll1}" pitch="${pitch1}" yaw="${yaw1}" />
    
    <xacro:link_ name="link_2" /> 

    <xacro:joint_ parent="link_1" child="link_2" x="${x2}" y="${y2}" z="${z2}" roll="${roll2}" pitch="${pitch2}" yaw="${yaw2}" />

    <xacro:link_ name="link_3" /> 

    <xacro:joint_ parent="link_2" child="link_3" x="${x3}" y="${y3}" z="${z3}" roll="${roll3}" pitch="${pitch3}" yaw="${yaw3}" />
    
</robot>